/* Sidebar CSS ------------------------------------------------------------ */

/* #sidebar-box{
    height: 100vh;
    width: 250px;
    padding:50px;
} */

/* #table-box{
    padding-right: 20px;
} */